.flex{
    display: flex;
    width: 100%;
  }
  
  .flex-warp{
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .icon-form {
    color: var(--text-primary);
    height: 1rem;
  }
  
  .content-margin {
    margin-top: 0.5em;
  }
  
  .flex-columns{
    display: flex;
  }
  
  .max-content-50{
    max-width: 50%;
  }

  .content-100{
    width: 50%;
  }
  
  
  .padding-right{
    padding-right: 0.5em;
  }
  
  @media (max-width: 700px) {
    .flex-columns{
      display: flex;
      flex-direction: column;
    }
    .max-content-50{
      max-width: 100%;
    }
    .padding-right{
      padding-right: 0;
    }
  }